.text-filters {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
}

.name-filters {
  font-family: 'Inter Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
  margin-top: 32px;
}

.filters {
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.title-filters {
  font-family: 'Inter SemiBold', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 24px;
}
.container-filters {
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 16px;
  width: 112px;
  height: 96px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-family: 'Inter Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.9;
  letter-spacing: -0.01em;
  color: #101828;
  cursor: pointer;
}

.container-filters-radio {
  border: 1px solid #dadde1;
  border-radius: 12px;
  padding: 16px;
  width: 112px;
  height: 96px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-family: 'Inter Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.9;
  letter-spacing: -0.01em;
  color: #101828;
  cursor: pointer;
}
.list-filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 8px;
  row-gap: 8px;
  padding: 24px 0 0 0;
  margin: 0;
  border-top: 1px solid #dadde1;
  max-width: 360px;
  margin-bottom: 24px;
}

.button-filters {
  border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  background-color: #e44848;
  color: white;
}

.p-filters {
  margin-top: 8px;
}

.button-filters:hover {
  background-color: #d84343;
}
.button-filters:focus {
  outline-color: transparent;
}
.location-filters {
  border-radius: 12px;
  padding: 18px 218px 18px 20px;
  width: 360px;
  height: 56px;
  background-color: #f7f7f7;
  border: none;
  margin: 8px 0 0;
}
.form-filters {
  display: flex;
  flex-direction: column;
}
.active-filter {
  border: 1px solid #e44848;
}
input[type='radio'] {
  display: none;
}
input[type='radio']:checked + label {
  border: 1px solid #e44848;
}
