.characteristics-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.characteristics-item {
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  height: 48px;
  background-color: #f2f4f7;
  display: flex;
  width: auto;
}
.characteristics {
  font-family: 'Inter Medium', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: capitalize;
}

.btn-like {
  outline: 0px solid #fff;
  background: none;
}

.btn-like:focus,
.btn-like:hover {
  outline: 0px solid #fff;
  border: none;
}
